@import "../../scss/variables";
@import "../../scss/mixins";

.product-list {
margin:1rem;




display: flex;
justify-content: space-evenly;
align-items: center;
flex-wrap: wrap;
gap: 2rem;

  
  
    .card {
width:350px;
height: $cardHeight;
position: relative;



    .price {
position: absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
background-color: $cardBgColor;
color:$cardColor;
padding: $cardPadding;
border-radius: $borderRadius;




    }
    img{
width:100%;
height:$cardHeight ;
border-radius: $borderRadius;
filter:sepia(100%)

    }

    &-over{



    }
  }
}
